@font-face {
    font-family: 'Between Century Italic Serif';
    src: url('../fonts/BetweenCentury-ItalicSerif.woff2') format('woff2'),
        url('../fonts/BetweenCentury-ItalicSerif.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

