body{

	*{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #333133;
	}

	.pacifico{
		font-family: 'Pacifico', cursive;
	}

	section{
		&.padding{
			padding: 40px 0;
		}
	}

	header{
		background-color: rgba(255,255,255, 1);
		.logo{
			margin: 10px 0;
		}

		.logo-mobile{
			padding-top: 10px;
			display: inline-block;
			max-width: 80px;
		}

		nav{
			ul{
				margin: 0;
				padding: 0;
				list-style: none;

				li{
					display: inline-block;

					a{
						display: inline-block;
						padding: 10px 15px;
						text-transform: uppercase;
						position: relative;
						font-size: 14px;

						&::after{
							content: "";
							transition: all .3s;
							height: 10px;
							right: -100%;
						}

						&:hover{
							color: #000;
							text-decoration: none;

							&::after{
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								background-image: url(../img/menu-bot.png);
								background-repeat: no-repeat;
								background-position: center;
								transition: all .3s

							}
						}
					}
				}
			}
		}
	}

	/*----------  Section Video  ----------*/
	.section-video{
		background-image: url(../img/campo-parallax.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 50vh;
		background-attachment: fixed;

		.btn-video{
			background-color: #a50324;
			color: #fff;
			display: inline-block;
			padding: 8px 40px 8px 20px;
			border-radius: 30px;
			position: relative;
			text-decoration: none;

			.fa{
				display: inline-block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				vertical-align: middle;
				text-align: center;
				border-radius: 50%;
				color: #a50324;
				background-color: #fff;
				position: absolute;
				right: -20px;
				top: -5px;
			}
		}
	}

	/*----------  Section Nosotros  ----------*/
	.section-nosotros{
		.excelencia{
			color: #f46c08;
		}
		.innovacion{
			color: #00a1ba;
		}
		.sustentabilidad{
			color: #c284b9;
		}
		.responsabilidad{
			color: #4fc222;
		}

	}

	.mr-lucky{
		transform: translateY(60px);
	}

	/*----------  Section Nacen  ----------*/
	.section-nacen{
		background-color: #3d2c7a;
	}

	.mayor-impacto{
		transform: translateY(-45px);
	}

	/*----------  Recetas  ----------*/
	.recetas{

		a{
			text-decoration: none;

			&:hover{
				text-decoration: none;
			}
		}
		
		.receta{

			.info{
				position: relative;

				img{
					display: block;
				}

				.tiempo{
					display: inline-block;
					margin: 0 auto;
					background-color: #db0632;
					color: #fff;
					padding: 4px 15px;
					border-radius: 20px;
					font-size: .8em;
					position: absolute;
					bottom: -10px;
    				left: 50%;
   	 				margin-left: -40px;

					i{
						color: #fff;
					}
				}
			}

		}
	}

	/*----------  Section Blog  ----------*/
	.section-blog{
		background-color: #f0f0f0;

		.posts{

			.post{
				border-top-left-radius: 30px;
				border-top-right-radius: 30px;
				overflow: hidden;
				background-color: #fff;
			}
		}
	}


	/*----------  Section btns categorias  ----------*/
	.section-btns-categorias{
		background-color: #e6e6e6;

		.btn-categoria{
			border-radius: 20px;
			transition: all .3s;

			&:hover, &.active{
				transform: scale(1.1);
				transition: all .3s;
			}
		}
	}

	/*----------  Section productos  ----------*/
	.section-productos{
		a{
			text-decoration: none;
		}

		.producto{
			img{
				display: block;
				margin: 0 auto;
			}

			h5{
				position: relative;
				display: inline-block;
				padding: 10px 15px;
				transition: all .3s;
			}
			
			&:hover{
				h5{
					background-color: $azulMarino;
					color: #fff;
					border-radius: 10px;
					transition: all .3s;
					
					&::after{
						content: "";
						position: absolute;
						top: -10px;
						width: 0;
						height: 0;
						left: 50%;
						margin-left: -10px;
						border-bottom: solid 10px $azulMarino;
						border-top: 0;
						border-left: solid 10px #fff;
						border-right: solid 10px #fff;
					}
				}
			}
		}
	}

	/*----------  Producto  ----------*/
	.section-producto{

		.img-produto{
			img{
				width: 250px;
			}
		}
	}

	/*----------  Section Recetas  ----------*/
	.section-receta{
		background-color: #e9f9ef;
	}

	/*----------  Section Empresas  ----------*/
	.section-empresas{
		.empresa{
			background-color: #01338d;
			padding: 20px;

			h5{
				color: #00a6dc;
				font-weight: 600;
			}
		}
	}

	/*----------  Section vacante  ----------*/
	.section-vacante{
		b,strong{ font-weight: 600; }
		p{ margin-bottom: 0; }

		.requisitos{
			.titulo{
				display: inline-block;
				background-color: #169be3;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				padding: 10px 30px;
				border-radius: 20px;
			}
		}

		.ofrecemos{
			background-color: #ebeef1;
			border-radius: 10px;
			padding: 20px;

			.titulo{
				color: #00a6dc;
				text-transform: uppercase;
				font-weight: 600;
			}
		}

		.interesados{
			.titulo{
				color: #00a6dc;
				text-transform: uppercase;
				font-weight: 600;
			}
		}

		.btn-vacantes{
			background-color: #23b557;
			display: inline-block;
			padding: 5px 30px;
			border-radius: 20px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	/*----------  Contacto  ----------*/
	.section-contacto{
		.form-control{
			background-color: #e9ebee;
			text-transform: uppercase;
		}

		.btn-enviar{
			background-color: $azulMarino;
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
		}

		.contacto-ubicaciones{
			h5{
				color: $azulMarino;
				text-transform: uppercase;
				font-weight: 600;

				.btn-mapa{
					display: inline-block;
					background-color: #a539bc;
					color: #fff;
					font-size: 12px;
					padding: 3px 15px;
					border-radius: 10px;
					margin-left: 15px;
				}
			}
		}
	}

	/*----------  Prefooter  ----------*/
	.prefooter{
		background-color: #f0f0f0;

		.redes{
			margin: 20px auto;

			a{
				display: inline-block;
				background-color: #adb7c4;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				border-radius: 50%;
				cursor: pointer;
				margin: 0 2px;

				&:hover{
					background-color: $azulMarino;
				}

				i{
					color: #fff;
				}
			}
		}

		.links{
			margin: 10px auto;
			ul{
				li{
					display: inline-block;

					a{
						color: $gris;
						display: inline-block;
						padding: 0 10px;
						border-right: solid 1px $gris;
					}

					&:last-child{
						a{
							border-right: 0;
						}
					}
				}

			}
		}
	}

	/*----------  Footer  ----------*/
	footer{


	}


}